.column {
  width: 23%;
  float: left;
  padding: 10px;
}
img.small {
  width: 80%;
  padding: 20px;
}
.column ul li {
  font-style: italic;
}
h1 {
  font-weight: bold;
  text-align: center;
}
.column h2 {
  font-weight: bold;
}
.column h3 {
  font-weight: bold;
}
@media screen and (max-width: 480px) and (min-width: 300px){
  body {
    background-color: black;
    color: white;
  }
}
@media screen and (max-width: 1000px) and (min-width: 700px){
  body {
    background-color: gray;
    color: black;
  }
}
